repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black", "--force-sort-within-sections"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: pretty-format-json
        args: ["--indent", "2", "--autofix", "--no-sort-keys"]
      - id: check-case-conflict

  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - "--line-length=79"

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0 # Possible releases: https://github.com/hadialqattan/pycln/releases
    hooks:
      - id: pycln
        additional_dependencies: ["click==8.0.4"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0  # Compatible with Python 3.9
    hooks:
      - id: flake8
        args:
          - "--max-line-length=88"
          - "--exclude=.git,__pycache__,__init__.py,.mypy_cache,.pytest_cache,build,dist"
          - "--ignore=W605,E203,W291,W503,E501"
        additional_dependencies:
          - flake8-bugbear==24.12.12  # Optional, for extra checks

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.0
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--expand-star-imports"
          - "--remove-duplicate-keys"
          - "--remove-unused-variables"
